*
{
box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    width:max-content; 
    height:max-content;
    margin: 15px 0px 35px 0px;
}

.container_padre{
    margin: 30px 20px 20px 40px;
}
.foto-home:hover{
    transform: scale(1.10);
}

.foto-home{
    width: 240px;
    background-color: rgb(66, 66, 66);
    height: 340px;
    flex-direction: row;
    padding: 5%;
    margin: 5px 15px 5px 15px;
    transition: 0.3s;
    border-radius: 10px;
}

h1{
    color: azure;
}

h2{
    color: azure;
}

h3{
    text-align: center;
    color: azure;
}

h4{
    text-align: center;
    color: white;
}

.containHeader{
    display: flex;
    width: 100%;
    align-items: center;
}

.containHeader div{
    display: flex;
    justify-content: center;

}
.containHeader ul{
    width: 80%;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    font-weight: 600;
    font-size: 20px;
    padding-left: 4%;
}

.containHeader a{
    text-decoration: none;
    color: azure;
}

.logo{
    height: 50%;
    margin-left: 35%;
}

.iBusqueda{
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 2%;
}

.iBusqueda input{
    height: 30px;
}

.iBusqueda button img{
    height: 22px;
}

.containFooter{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.tituloFooter{
    font-family: 'Amatic SC';
    text-align: center;
    font-weight: 700;
    padding: 10px 0px 10px 0px;
}

.footerNombres{
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.nombres{
    font-family: 'Raleway', sans-serif;
    width: 200px;
    color:azure;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.containFooter p{
    font-family: 'Raleway', sans-serif;
    color: azure;
    display: flex;
    align-self: center;
}

.fotoDetalle{
    background-color: rgb(66, 66, 66);
    margin: 25px;
    width: 20%;
}

.containPelis p{
    background-color:darkgray;
    color: black;
    padding: 1px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
}

iframe{
    margin: 0px 500px;
    display: flex;
    justify-content:center ;
}

.trailerSeries iframe:hover{
    transform: scale(3.0);
}

.trailerSeries iframe{
    transition: 1s;
}

.detallepelis{
    display: flex;
    padding: 10px 15px 0px 10px;
}

.detallepelis p{
    color: azure;
    font-weight: bold;
    
}

.infoPelisTitulos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.infoPelisTitulos p{
    color: burlywood;
}
.infoPelisDetalles{
    display: flex;
    flex-wrap: nowrap;
    color:azure

}

.hola{
    width: 30%;
    height: 60%;
}

.container-fav{
    display: flex;
    width:max-content; 
    height:max-content;
}

.container-fav li{
    padding: 0% 5%;
}
.titulosFavoritos{
    margin-left: 3.5%;
    margin-bottom: 1%;
}

.generospeliculas {
    color:azure;
    display: flex;
    flex-direction: column;
}

.generoseries {
    color:azure;
    display: flex;
    flex-direction: column;  
}    

.containerGeneros {
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
    margin-bottom: 8%;
}

.containerGeneros ul{
    list-style: none;
}

.generoseries a{
    text-decoration: none;
    color: azure;
}

.generospeliculas a{
    text-decoration: none;
    color: azure;
}

.contenedorPublicidad{
    display: flex;
    justify-content: center;

}

.publicidad{
    width: 50%;
    height: 130px;
}
