*
{
box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap; 
    width:max-content; 
    height:max-content;
    background-color: black;
}

.foto-home{
    width: 240px;
    background-color: rgb(66, 66, 66);
    height: 340px;
    flex-direction: row;
    padding: 5%;
    margin: 5px 15px 5px 15px;
}

h1{
    color: white;
    font-family: 'Poppins', sans-serif;
}

h2{
    color: white;
}

h3{
    text-align: center;
    color: white;
}

h4{
    text-align: center;
    color: white;
}

.containHeader{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    background-color: aqua;
}

.logo{
    margin-left: 2%;
    margin-top: 2%;
    height: 70px;
    width: 70px;
}
.iBusqueda{
    margin-right: 10%;
    margin-top: 5%px;
}
.buscar{
    height: 2px;
    width: 5px;
}

.containFooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    bottom: 10px;
    justify-content: space-between;
}
.tituloFooter{
    color: bisque;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    align-content: center;
}
.nombres{
    color: beige;
    flex-direction: row;
    align-self: flex-end;
    font-family: 'Cormorant Garamond', serif;
}
.containDetalleP{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    
}
.fotoDetalle{
    background-color: rgb(66, 66, 66);
    margin: 25px;
    width: 20%;

}
.containPelis p{
    background-color:darkgray;
    color: black;
    padding: 1px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
}
